[Unit]
Description=Docker Services

[Service]
Type=simple
ExecStart=/usr/bin/dockerservices --check-delay 30 --shell /home/commrat/Job/DockerComposeEnsure/active ./run

[Install]
WantedBy=multi-user.target
