[Unit]
Description=docker-compose-ensure

[Service]
Type=simple
ExecStart=/usr/bin/docker-compose-ensure --check-delay 30 --shell /etc/docker-compose-ensure docker-compose up -d

[Install]
WantedBy=multi-user.target
